body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
p {
  font-size: 2em;
}
p.small {
  font-size: 1.6em;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #000000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*text-transform: uppercase;*/
  font-weight: 700;
}
hr.star-light,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: white;
  box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
hr.star-light:after {
  background-color: #000000;
  color: white;
  box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
hr.star-primary {
  border-color: white;
  box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
hr.star-primary:after {
  background-color: white;
  color: black;
  box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.img-centered {
  margin: 0 auto;
}
header {
  text-align: center;
  background: #000000;
  color: white;
}
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
#headerwrap {
  background: url(/img/background1.png) no-repeat center fixed;
  margin-top: 0;
  padding-top: 20em;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 100vh;
  max-height: 120vh;
  max-width: 100%;
  /*width: 100%;*/
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#portfolio_container {
  max-height: 100vh;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .intro-text .name {
  display: block;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*text-transform: uppercase;*/
  font-weight: 700;
  font-size: 2em;
}
header .intro-text .skills {
  display: block;
  font-size: 1.25em;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    display: block;
    padding-top: 0px;
    padding-bottom: 20em;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }
}
.navbar-custom {
  background: #000000;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}
.navbar-custom .navbar-brand {
  color: white;
}
.navbar-custom .navbar-brand:hover{
  color: red;
},
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand.active {
  color: red;
}
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
  color: white;
}
.navbar-custom .navbar-nav li a:hover {
  color: red;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #c0c0c0;
}
.navbar-custom .navbar-nav li.active a:hover{
  color: red;
},
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #000000;
}
.navbar-custom .navbar-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 2em;
  border-color: white;
}
.navbar-custom .navbar-toggle:hover {
  background-color: #c0c0c0;
},
.navbar-custom .navbar-toggle:focus {
  background-color: #000000;
  color: white;
  border-color: #000000;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.25s;
    -moz-transition: padding 0.25s;
    transition: padding 0.25s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
  }
  .navbar-custom.affix {
    padding: 5px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
section {
  padding: 100px 0;
}
section h2 {
  margin: 0;
  font-size: 3em;
}
section.success {
  background: url(/img/background1.png) no-repeat center fixed;
  margin-top: 0;
  /*padding-top: 8em;*/
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 100vh;
  max-height: 120vh;
  max-width: 100%;
  /*width: 100%;*/
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}
#portfolio {
  padding: 5vh 0px 0px 0px;
  height: 100vh;
}
#portfolio .container {
  height: 90vh;
}

#portfolio .portfolio_title {
  height: 20vh;
  vertical-align: baseline;
}

#portfolio .portfolio_items * {
  height: 70vh;
  vertical-align: baseline;
}

#portfolio .portfolio-item {
  margin: 0 0 0 0;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
  background: #000000;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 0.8;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 2px;
  font-size: 2em;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 4vh 0 4vh 0;
  }
}
.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #C0C0C0;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}
footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #000000;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #000000;
}
.btn-outline {
  color: white;
  font-size: 2em;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #000000;
  background: white;
  border: solid 2px white;
}
.btn-primary {
  color: white;
  background-color: #C0C0C0;
  border-color: #C0C0C0;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #000000;
  border-color: #c0c0c0;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #C0C0C0;
  border-color: #C0C0C0;
}
.btn-primary .badge {
  color: #C0C0C0;
  background-color: white;
}
.btn-success {
  color: white;
  background-color: #000000;
  border-color: #000000;
  font-weight: 700;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: white;
  background-color: #000000;
  border-color: #000000;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #C0C0C0;
  border-color: #000000;
}
.btn-success .badge {
  color: #000000;
  background-color: white;
}
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 2em;
  line-height: 45px;
}
.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
}
.scroll-top .btn {
  font-size: 2em;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 28px;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  max-height: 90vh;
  text-align: center;
}
.portfolio-modal .modal-img {
  display: block;
  /*text-align: center;*/
  max-width: 100%;
  max-height: 10%;
  margin-left: auto; margin-right: auto; text-align: left;
}
.portfolio-modal .modal-content h2 {
  margin: 0 0 0 0;
  font-size: 3em;
}
.portfolio-modal .modal-content img {
  margin: 0 0 0 0;
  vertical-align: middle;
}
.portfolio-modal .modal-content .item-details {
  margin: 1vh 0 1vh 0;
  max-height: 20vh;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 7.5em;
  height: 7.5em;
  background-color: transparent;
  top: 2.5em;
  right: 2.5em;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 7.5em;
  width: 0.1em;
  margin-left: 3.5em;
  background-color: #C0C0C0;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .modal-holder {
  margin: 0 0 0 0;
  height: 100vh;
}
.portfolio-modal .modal-body {
  margin: 0 0 0 0;
  height: 100vh;
}
.portfolio-modal .modal-items-wrapper {
  max-height: 80%;
  /*width: 100%;*/
  text-align: center;
  margin: 0 0 0 0;
  overflow: auto;
}
.portfolio-modal .modal-left {
  max-width: 23%;
  margin: 0 1vw 0 0;
  float: left;
}
.portfolio-modal .modal-middle {
  max-height: 60%;
  max-width: 50%;
  margin: 0 0 0 0;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.portfolio-modal .modal-title {
  /*text-decoration: underline;*/
  margin: 2vh 0vh 2vh 0vh
}
.portfolio-modal .modal-right {
  max-width: 23%;
  margin: 0 0 0 1vw;
  float: right;
}
.portfolio-modal .modal-description {
  font-size: 1em;
  text-align: left;
  margin: 0 0 0 0;
}
.portfolio-modal .modal-features {
  font-size: 1em;
  text-align: left;
  margin: 0 0 0 0;
}
.portfolio-modal .modal-priorities {
  font-size: 1em;
  text-align: left;
}
.portfolio-modal .modal-priorities-list {
  font-size: 1em;
  text-align: left;
}
.portfolio-modal .modal-technologies {
  font-size: 1em;
  text-align: center;
}
.portfolio-modal .close-modal .lr .rl {
  height: 7.5em;
  width: 0.1em;
  background-color: #C0C0C0;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 1;
  display: none;
}
.about-text {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.about-div {
  font-size: 0.75em;
  text-align: center;
  max-height: 100%;
  display: block;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: 300;
  margin: 5em 0 5em 0;
  width: 50%;
}
.accomplishments {
  float: left;
  max-width: 100%;
}
.technologies {
  float: right;
  max-width: 100%;
}
#skipnav a {
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 0px;
  color: white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 8px;
  background: transparent;
  transition: top 1s ease-out, background 1s linear;
  z-index: 2000;
}
#skipnav a:focus {
  position: absolute;
  left: 0px;
  top: 0px;
  background: #000000;
  outline: 0;
  transition: top 0.1s ease-in, background 0.5s linear;
}
div#maincontent {
  outline: none;
}
